<div class="bg-image"></div>
<div id='browser'>
  <div id='browser-bar'>
    <div class='circles'></div>
    <div class='circles'></div>
    <div class='circles'></div>
    <p>MAP FORM</p>
  </div>
  <div id='content'>
    <div id='left'>
       <!-- MAP CODE -->
       <app-map #mapLeaf
       [geoData]="initPointGeo"
       (inputLocationEvent)="receiveDataLocation($event)">
       </app-map>
       <!-- END MAP CODE -->
      <ul id='location-bar'>
        <li>
          <a class='location' (click)="mapLeaf.getCountryLocation('Tunisia')" [routerLink]="">Tunisia</a>
        </li>
        <li>
          <a class='location' (click)="mapLeaf.getCountryLocation('Algeria')" [routerLink]="">Algeria</a>
        </li>
        <li>
          <a class='location' (click)="mapLeaf.getCountryLocation('Morocco')" [routerLink]="">Morocco</a>
        </li>
        <li>
          <a class='location' (click)="mapLeaf.getCountryLocation('Portugal')" [routerLink]="">Portugal</a>
        </li>
      </ul>
    </div>
    <div id='right'>
      <p>geographic coordinate</p>
      <p>form</p>
      <form>
        <div *ngFor="let pointGeoItem of t.controls; let i = index" class="formGroup">
          <ng-container [formGroup]="pointGeoItem">
            
            <input placeholder='Latitude' type='number'
            name="latitude" formControlName="latitude">

            <input placeholder='Longitude' type='number'
            name="longitude" formControlName="longitude">
            
          </ng-container>
        </div>
      </form>
      <p>Contact</p>
      <p class='other entypo-mail'>
        <a href='#'>NasraouiaMohamed@hotmail.com</a>
      </p>
      <p class='other entypo-phone'>(+216) 24 515 216</p>
    </div>
  </div>
</div>
