/* You can add global styles to this file, and also import other style files */
body {
    // background: lighten($gray, 25%);
    background-image: url('assets/Images/adolfo-felix-4JL_VAgxwcU-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }